:root {
    --green-theme: rgb(62, 204, 62);
    --green-dark-theme: rgb(41, 160, 41);
    --gray-theme: rgb(83, 83, 83);
}

body,
html {
    background-color: rgb(37, 37, 37);
    color: white;
    font-family: "Comic Sans MS";
    height: 100%;
    margin: 0;
    position: relative;
    z-index: -20;
}

h1 {
    font-size: 2rem;
    margin: 0;
    padding: 2rem;
    padding-bottom: 0;
}

h3 {
}

#top-wrapper {
    height: 70%;
    width: 100%;
}

#invest-button-wrapper {
    align-items: center;
    display: flex;
    /* height: 30rem; */
    justify-content: center;
    margin-top: 10rem;
    position: relative;
    width: 100%;
}

#invest-button-text {
    font-size: 3rem;
    pointer-events: none;
    position: absolute;
    top: 3rem;
}

#invest-button {
    cursor: pointer;
    width: 80%;
}

#coin-counter {
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
}

#coin-counter-prefix,
#coin-counter-number {
    display: inline-block;
}

#coin-counter-prefix {
    margin-right: 1rem;
}

#coin-counter-number {
    text-align: right;
    min-width: 7rem;
}

#coin-aggregate-production {
    text-align: center;
}

.upgrade-wrapper {
    /* background-color: rgb(75, 75, 75); */
    padding: 2rem;
    position: relative;
}

.upgrade-name {
    font-size: 1.5rem;
}

.upgrade-buy-button {
    background-color: var(--green-theme);
    border-radius: 5px;
    bottom: 2rem;
    cursor: pointer;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    position: absolute;
    right: 2rem;
    user-select: none;
}

.upgrade-buy-button:hover {
    background-color: var(--green-dark-theme);
    transition: background-color 200ms ease-in-out;
}

.stat-name {
    display: inline-block;
}

.stat-value {
    display: inline-block;
}

.stat-unit {
    display: inline-block;
}

#reset-button {
    background-color: rgb(172, 40, 40);
    border-radius: 5px;
    clear: both;
    cursor: pointer;
    display: inline-block;
    float: right;
    margin: 2rem;
    margin-top: 1rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#disclaimer {
    font-size: 0.7rem;
    margin: 2rem;
    margin-top: 0;
}

#doge-rain-canvas {
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -10;
}

#doge-rain-canvas-darken {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -9;
}

#toggle-visuals {
    background-color: var(--gray-theme);
    border-radius: 5px;
    clear: both;
    cursor: pointer;
    display: block;
    float: right;
    margin-right: 2rem;
    margin-top: 3rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#research-wrapper {
}

#research-wrapper p {
    padding-left: 2rem;
}

.research-row {
    padding: 2rem;
}

.research-row h3 {
    margin-top: 0;
}

.research-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.research-button {
    background-color: var(--gray-theme);
    border-radius: 5px;
    cursor: pointer;
    margin: 0.5rem;
    padding-bottom: calc((100% - 6 * 0.5rem) / 4);
    width: calc((100% - 6 * 0.5rem) / 4);
}

.research-button:first-of-type {
    margin-left: 0;
}

.research-button:last-of-type {
    margin-right: 0;
}

.research-icon-wrapper {
    height: auto;
    position: relative;
    width: 100%;
}

.research-icon-wrapper img {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.research-icon-darken {
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    padding-bottom: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

/* .research-icon-wrapper img:last-of-type {
    left: 0;
    position: absolute;
    top: 0;
} */

.research-icon-cover {
    left: 0;
    padding-bottom: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.research-description-wrapper {
    background-color: var(--gray-theme);
    box-sizing: border-box;
    cursor: default;
    display: none;
    left: 0;
    margin-top: 6rem;
    padding: 1rem;
    position: absolute;
    top: 0;
    z-index: 10;
}

.research-button:hover .research-description-wrapper {
    display: initial;
}

#options-wrapper {
    /* padding: 2rem; */
}
