@media only screen and (min-width: 750px) {
    #wrapper {
        /* background-color: green; */
        align-items: flex-start;
        display: flex;
        justify-content: center;
        /* flex-direction: column; */
    }

    #invest-button-wrapper {
        width: auto;
    }

    #shop-research-options-wrapper {
        /* width: 50%; */
    }

    #top-wrapper,
    #shop-wrapper,
    #research-wrapper,
    #options-wrapper {
        margin-top: 5rem;
        max-width: 30rem;
    }

    #top-wrapper {
        position: sticky;
        top: 0;
        width: 50%;
    }

    .stat-name {
        display: inline-block;
        width: 6rem;
    }

    .stat-value {
        display: inline-block;
        margin-left: 1rem;
        min-width: 10rem;
        text-align: right;
    }

    .stat-unit {
        display: inline-block;
    }

    .research-description-wrapper {
        margin-top: 8rem;
    }

    .mobile-only {
        display: none;
    }
}
