<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="img/doge-2.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />
        <link rel="stylesheet" href="css/styles-small.css" />
        <link rel="stylesheet" href="css/styles.css" />
        <title>dogecoin clicker</title>
    </head>
    <body>
        <canvas id="doge-rain-canvas"></canvas>
        <div id="doge-rain-canvas-darken"></div>
        <div id="wrapper">
            <div id="top-wrapper">
                <div id="invest-button-wrapper">
                    <div id="invest-button-text">INVEST</div>
                    <img
                        src="img/red-button.png"
                        id="invest-button"
                        @click="investButtonClicked()"
                    />
                </div>
                <div id="coin-counter">
                    <div id="coin-counter-prefix">Ð</div>
                    <div id="coin-counter-number">
                        {{addCommas(Math.trunc(coins))}}
                    </div>
                </div>
                <div id="coin-aggregate-production">
                    + {{addCommas(aggregateProduction)}} /s
                </div>
            </div>
            <div id="shop-research-options-wrapper">
                <div id="shop-wrapper">
                    <h1>shop</h1>
                    <div id="shop-items-wrapper">
                        <div
                            v-for="item in items"
                            :key="item.name"
                            class="upgrade-wrapper"
                        >
                            <div class="upgrade-name">{{item.name}}</div>
                            <div class="upgrade-description">
                                {{item.description}}
                            </div>
                            <br />
                            <div class="upgrade-production">
                                <div class="stat-name">produces:</div>
                                <div class="stat-value">
                                    {{addCommas(item.generates)}}
                                </div>
                                <div class="stat-unit">/s</div>
                            </div>
                            <div class="upgrade-aggregate-production">
                                <div class="stat-name">aggregate:</div>
                                <div class="stat-value">
                                    {{addCommas(item.generates * item.owned *
                                    (researchOwned.mining > -1 ?
                                    research.mining[researchOwned.mining].multiplier
                                    : 1))}}
                                </div>
                                <div class="stat-unit">/s</div>
                            </div>
                            <div class="upgrade-price">
                                <div class="stat-name">cost:</div>
                                <div class="stat-value">
                                    {{addCommas(item.cost)}}
                                </div>
                            </div>
                            <div class="ugprade-number-owned">
                                <div class="stat-name">owned:</div>
                                <div class="stat-value">
                                    {{addCommas(item.owned)}}
                                </div>
                            </div>
                            <div
                                class="upgrade-buy-button"
                                @click="upgrade(item.name)"
                            >
                                buy
                            </div>
                        </div>
                    </div>
                </div>
                <div id="research-wrapper">
                    <h1>research</h1>
                    <p class="mobile-only">hold to view description</p>
                    <div class="research-row">
                        <div class="upgrade-name">mouse</div>
                        <div class="research-buttons">
                            <div
                                v-for="(item, index) in research['mouse']"
                                :key="item.description"
                                class="research-button"
                                @click="researchClicked('mouse', index)"
                            >
                                <div class="research-icon-wrapper">
                                    <img
                                        :src="'img/research/mouse-' + index +'.png'"
                                    />
                                    <div
                                        class="research-icon-darken"
                                        v-if="researchOwned['mouse'] >= index"
                                    ></div>
                                    <img
                                        src="img/research/check.png"
                                        v-if="researchOwned['mouse'] >= index"
                                    />
                                    <div class="research-icon-cover"></div>
                                </div>
                                <div class="research-description-wrapper">
                                    <div class="research-description">
                                        {{item.description}}
                                    </div>
                                    <br />
                                    <div class="research-cost">
                                        cost: {{addCommas(item.cost)}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="research-row">
                        <div class="upgrade-name">mining</div>
                        <div class="research-buttons">
                            <div
                                v-for="(item, index) in research['mining']"
                                :key="item.description"
                                class="research-button"
                                @click="researchClicked('mining', index)"
                            >
                                <div class="research-icon-wrapper">
                                    <img
                                        :src="'img/research/mining-' + index +'.png'"
                                    />
                                    <div
                                        class="research-icon-darken"
                                        v-if="researchOwned['mining'] >= index"
                                    ></div>
                                    <img
                                        src="img/research/check.png"
                                        v-if="researchOwned['mining'] >= index"
                                    />
                                    <div class="research-icon-cover"></div>
                                </div>
                                <div class="research-description-wrapper">
                                    <div class="research-description">
                                        {{item.description}}
                                    </div>
                                    <br />
                                    <div class="research-cost">
                                        cost: {{addCommas(item.cost)}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="research-row">
                        <div class="upgrade-name">lab</div>
                    </div> -->
                </div>
                <div id="options-wrapper">
                    <div id="disclaimer">this is not financial advice</div>
                    <div>
                        <div id="toggle-visuals" @click="toggleBackground()">
                            turn background {{backgroundOn ? "off" : "on"}}
                        </div>
                        <div id="reset-button" @click="resetProgress()">
                            reset progress
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script> -->
        <script src="js/upgrade-information.js"></script>
        <script src="js/save.js"></script>
        <script src="js/game.js"></script>
        <script src="js/background.js"></script>
    </body>
</html>
